/* custom.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f7f3;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: white;
    display: flex;
    border-radius: 10px;
    background-color: #0fa3b1;
    font-size: 240%;
    font-family: 'Century Expanded', bold;
    font-weight:bold;
    letter-spacing: 0.5px;
    padding: 10px;
}

h2 {
    color: black;
    border-bottom: 2px solid #eddea4;
    display: inline-block;

}
h2::before {
    content: ''; /* Empty content for the underline */
    display: inline-block;
    border-bottom: 2px solid #f7a072; /* Underline color */
    margin-left: 10px; /* Adjust the spacing between the text and the underline */
    flex-grow: 1; /* Allow the underline to fill the remaining space */
}
h2::after {
    content: '\00a0'; /* Non-breaking space character */
    display: inline-block;
    width: 10px; /* Adjust the width as needed */
    height: 1em; /* Set the height to 1em (same as font size) */
    background-color: #eddea4; /* Color of the "bullet" */
    margin-right: 0px; /* Adjust the spacing between the "bullet" and the text */
}

h3 {
    color:#0fa3b1;
    font-family: 'Noto Sans Medium';
    font-weight: Bold;
    font-style: Bold;
}

h4 {
    color:black;
}

.styled-title {
    color: white;
    border-radius: 10px; /* Set border radius */
    background-color: white; /* Set background color */
    width: fit-content; /* Set width to fit the content */
    margin: 0 auto; /* Center the element horizontally */
    font-size: 220%;
    font-family: 'Century Expanded', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 10px;
}

.styled-title p {
    padding: 10px;
    color: black;
    border-bottom: 4px solid #f7a072;
}
div.jp-CodeMirrorEditor {
    background-color: #f9f7f3; /* Set your desired background color */
}
